# spring.application.name=inventory_management

spring:
  jpa:
    database: POSTGRESQL
    show-sql: true
  sql:
    init:
      platform: postgres

  datasource:
    url: jdbc:postgresql://localhost:5432/InventoryManagement
    username: postgres
    password: pass
    driver-class-name: org.postgresql.Driver

  output:
    ansi:
        enabled: always

